body {
  font-family: Arial, sans-serif;
  background-color: #f8f8f8;
  padding: 20px;
}

h1 {
  text-align: center;
}

form {
  margin-bottom: 20px;
}

input[type="text"] {
  padding: 5px;
  font-size: 16px;
  border-radius: 5px;
}

button {
  padding: 5px 10px;
  font-size: 16px;
  border-radius: 5px;
  background-color: #b700ff;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #00f7ff;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  background-color: white;
  padding: 10px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

li span {
  flex-grow: 1;
}

li button {
  margin-left: 10px;
}

li button:hover {
  background-color: #e74c3c;
}
